<%= render "shared/banner" %>
<div class="container text-center mt-2">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-md-4 mb-4">
      <%= link_to list_path(list) do %>
        <div class="card-list pb-3">
            <%= cl_image_tag list.photo.key, class: "img-card-list mb-3" %>
            <h4><%= list.name %></h4>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
