<div class="container text-center mt-5 new-list-form">
<h1 class="mb-5">Your new list</h1>
<%= simple_form_for @list do |f| %>
<%= f.input :name, label: false, placeholder: "Choose a name for your list" %>
<%= f.input :photo, label: "Add a picture for this list !", as: :file %>
<%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
