<div class="container text-center mt-2">
<h1>New list</h1>
<%= simple_form_for @list do |f| %>
<%= f.input :name, label: 'List name please' %>
<%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
