<div class="container text-center mt-2">
<h1>New bookmark</h1>
<%= simple_form_for [ @list, @bookmark ] do |f| %>
<%= f.association :movie, collection: Movie.all %>
<%= f.input :comment, label: 'Comment please' %>
<%= f.submit "Add movie", class: "btn btn-primary" %>
<% end %>
</div>
