<div class="container text-center mt-2">
  <h1> <%= @movie.title %> </h1>
  <hr>
  <h2> <%= @movie.overview %> </h2>
  <h4> Rating : <strong> <%= @movie.rating %> </strong> </h4>
  <img src="<%= @movie.poster_url %>" alt="">
</div>
